#dash
	.cardHolder
		article.post
			box-shadow: 0 1px 3px 0 rgba(55,59,68,.5)
			border-radius: 3px
			float: left
			clear: none
			margin: 20px 1% 10px
			padding: 0 1%
			overflow: hidden
			@media(max-width:$sm)
				width: 93.5%
			@media(min-width:$sm)and(max-width:$md)
				width: 46%
			@media(min-width:$md)and(max-width:$lg)
				width: 30.3333333333%
			@media(min-width:$lg)
				width: 22.4%

			.flag
				float: right
				box-shadow: 0 2px 3px 0 rgba(55,59,68,.35)
				padding: 15px 0 8px
				width: 15%
				text-align: center
				color: $snowWhite
				border-radius: 0 0 2px 2px
				&.fa-facebook
					background: $facebook
				&.fa-twitter
					background: $twitter
				&.fa-google-plus
					background: $google-plus

			.arrow-right
				width: 0 
				height: 0
				border-top: 17px solid transparent
				border-bottom: 17px solid transparent
				border-left: 17px solid rgba(55,59,68,.1)
				-ms-transform: rotate(45deg)
				-webkit-transform: rotate(45deg)
				transform: rotate(45deg)
				float:right
				margin: 15px 0 0 -13px
				border-radius: 0 0 2px 0

			
			.media
				clear: both
				max-height: 400px
				overflow: hidden
				margin-top: 7px
				margin-bottom: 7px
				.postImg
					width: 100%

			.twtUsr, .gUsr
				img, p
					float: left
				img
					border-radius: 0 0 2px 2px
					margin-bottom: 7px
				p
					margin-left: 8px
			.feedTxt
				clear: both
			.gFeedTxt
				a
					color: $trello
			.tweetData, .googData
				padding: 0
				li
					float: left
					cursor: help
					color: $lowLight
					&:first-child
						margin-left: 0
						margin-right: 14px
					&:last-child
						margin-right: 0
					&.pull-right
						opacity: .5
					.fa
						opacity: .5
						span
							font-size: 1.35em
							font-weight: 800
			.googData
				li
					.fa-plus
						font-size: .74em
