header
	width: 100%
	position: fixed
	top: 0
	left: 0
	z-index: 1000
	padding: 13px 2% 5px
	transition: all ease .75s
	h1
		display: none
	nav
		float:right
		transition: margin ease .5s
		padding: 10px 0 0
		margin-top: 16px
		ul
			float: right
			li
				float: left
				a
					padding: 0 10px 7px
					font-size: 1.3em
					transition: all ease .4s
					&:hover
						text-decoration: none
					&:active
						text-decoration: none
			.open
				#accountDrop
					text-decoration: none
					outline: none
					&:hover
						text-decoration: none
					&:active
						text-decoration: none
				.dropdown-menu
					background: $snowWhite
					left: auto !important
					margin-left: 6px
					margin-top: -1px
					border-radius: 0 0 2px 2px
					border: none
					li
						width: 100%
						a
							border: none
							display: block
							transition: none
							padding: 10px
							&:hover
								border: none
								border-left: 3px solid $cyanClouds
								padding-left: 7px

	&.upper
		svg
			// transition: height .35s ease
			height: 75px
			path.text
				fill: $morningLight
		nav
			height: 45px
		
			ul
				li
					a
						color: $morningLight
						text-shadow: 0 1px 3px $lowLight
						margin: 0 3px
						&:hover
							border-bottom: 5px solid $cyanClouds
	&.lower
		background: $snowWhite
		box-shadow: 0 1px 3px 0 rgba(55,59,68,.5)
		svg
			// transition: height .35s ease
			height: 45px
			path.text
				fill: $lowLight
		nav
			ul
				li
					a
						color: $lowLight
						margin: 0 7px
						&:hover
							border-bottom: 5px solid $cyanClouds
