<li class="angellist-bg"><a href="#angellist">AngelList</a></li>
<li class="behance-bg"><a href="#behance">Behance</a></li>
<li class="bitbucket-bg"><a href="#bitbucket">Bitbucket</a></li>
<li class="codepen-bg"><a href="#codepen">Codepen</a></li>
<li class="delicious-bg"><a href="#delicious">Delicious</a></li>
<li class="deviantart-bg"><a href="#deviantart">Deviantart</a></li>
<li class="digg-bg"><a href="#digg">Digg</a></li>
<li class="dribbble-bg"><a href="#dribbble">Dribbble</a></li>
<li class="facebook-bg"><a href="#facebook">Facebook</a></li>
<li class="flickr-bg"><a href="#flickr">Flickr</a></li>
<li class="foursquare-bg"><a href="#foursquare">Foursquare</a></li>
<li class="github-bg"><a href="#github">Github</a></li>
<li class="google-plus-bg"><a href="#google-plus">Google Plus</a></li>
<li class="instagram-bg"><a href="#instagram">Instagram</a></li>
<li class="linkedin-bg"><a href="#linkedin">LinkedIn</a></li>
<li class="pinterest-bg"><a href="#pinterest">Pinterest</a></li>
<li class="reddit-bg"><a href="#reddit">Reddit</a></li>
<li class="skype-bg"><a href="#skype">Skype</a></li>
<li class="slack-bg"><a href="#slack">Slack</a></li>
<li class="soundcloud-bg"><a href="#soundcloud">SoundCloud</a></li>
<li class="spotify-bg"><a href="#spotify">Spotify</a></li>
<li class="stack-exchange-bg"><a href="#stack-exchange">Stack Exchange</a></li>
<li class="stack-overflow-bg"><a href="#stack-overflow">Stack Overflow</a></li>
<li class="stumbleupon-bg"><a href="#stumbleupon">StumbleUpon</a></li>
<li class="trello-bg"><a href="#trello">Trello</a></li>
<li class="tumblr-bg"><a href="#tumblr">Tumblr</a></li>
<li class="twitch-bg"><a href="#twitch">Twitch</a></li>
<li class="twitter-bg"><a href="#twitter">Twitter</a></li>
<li class="vimeo-bg"><a href="#vimeo">Vimeo</a></li>
<li class="vine-bg"><a href="#vine">Vine</a></li>
<li class="xing-bg"><a href="#xing">Xing</a></li>
<li class="yelp-bg"><a href="#yelp">Yelp</a></li>
<li class="youtube-bg"><a href="#youtube">YouTube</a></li>