<ul class="socialList">
	<li id="angellist">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="angellist">
		</div>
		<div class="col-sm-8 col-xs-7 angellist-bg">
			<p><span class="fa fa-angellist"></span>AngelList</p>
		</div>
	</li>
	<li id="behance">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="behance">
		</div>
		<div class="col-sm-8 col-xs-7 behance-bg">
			<p><span class="fa fa-behance"></span>Behance</p>
		</div>
	</li>
	<li id="bitbucket"><div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 bitbucket-bg">
			<p><span class="fa fa-bitbucket"></span>Bitbucket</p>
	</li>
	<li id="codepen"><div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 codepen-bg">
			<p><span class="fa fa-codepen"></span>Codepen</p>
	</li>
	<li id="delicious"><div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 delicious-bg">
			<p><span class="fa fa-delicious"></span>Delicious</p>
	</li>
	<li id="deviantart">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 deviantart-bg">
			<p><span class="fa fa-deviantart"></span>Deviantart</p>
		</div>
	</li>
	<li id="digg">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 digg-bg">
			<p><span class="fa fa-digg"></span>Digg</p>
		</div>
	</li>
	<li id="dribbble">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 dribbble-bg">
			<p><span class="fa fa-dribbble"></span>Dribbble</p>
		</div>
	</li>
	<li id="facebook">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 facebook-bg">
			<p><span class="fa fa-facebook"></span>Facebook</p>
		</div>
	</li>
	<li id="flickr">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 flickr-bg">
			<p><span class="fa fa-flickr"></span>Flickr</p>
		</div>
	</li>
	<li id="foursquare">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 foursquare-bg">
			<p><span class="fa fa-foursquare"></span>Foursquare</p>
		</div>
	</li>
	<li id="github">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 github-bg">
			<p><span class="fa fa-github-alt"></span>Github</p>
		</div>
	</li>
	<li id="google-plus">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 google-plus-bg">
			<p><span class="fa fa-google-plus"></span>Google+</p>
		</div>
	</li>
	<li id="instagram">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 instagram-bg">
			<p><span class="fa fa-instagram"></span>Instagram</p>
		</div>
	</li>
	<li id="linkedin">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 linkedin-bg">
			<p><span class="fa fa-linkedin"></span>LinkedIn</p>
		</div>
	</li>
	<li id="pinterest">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 pinterest-bg">
			<p><span class="fa fa-pinterest-square"></span>Pinterest</p>
		</div>
	</li>
	<li id="reddit">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 reddit-bg">
			<p><span class="fa fa-reddit"></span>Reddit</p>
		</div>
	</li>
	<li id="skype">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 skype-bg">
			<p><span class="fa fa-skype"></span>Skype</p>
		</div>
	</li>
	<li id="slack">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 slack-bg">
			<p><span class="fa fa-slack"></span>Slack</p>
		</div>
	</li>
	<li id="soundcloud">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 soundcloud-bg">
			<p><span class="fa fa-soundcloud"></span>SoundCloud</p>
		</div>
	</li>
	<li id="spotify">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 spotify-bg">
			<p><span class="fa fa-spotify"></span>Spotify</p>
		</div>
	</li>
	<li id="stack-exchange">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 stack-exchange-bg">
			<p><span class="fa fa-stack-exchange"></span>Stack Exchange</p>
		</div>
	</li>
	<li id="stack-overflow">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 stack-overflow-bg">
			<p><span class="fa fa-stack-overflow"></span>Stack Overflow</p>
		</div>
	</li>
	<li id="stumbleupon">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 stumbleupon-bg">
			<p><span class="fa fa-stumbleupon"></span>StumbleUpon</p>
		</div>
	</li>
	<li id="trello">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 trello-bg">
			<p><span class="fa fa-trello"></span>Trello</p>
		</div>
	</li>
	<li id="tumblr">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 tumblr-bg">
			<p><span class="fa fa-tumblr"></span>Tumblr</p>
		</div>
	</li>
	<li id="twitch">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 twitch-bg">
			<p><span class="fa fa-twitch"></span>Twitch</p>
		</div>
	</li>
	<li id="twitter">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 twitter-bg">
			<p><span class="fa fa-twitter"></span>Twitter</p>
		</div>
	</li>
	<li id="vimeo">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 vimeo-bg">
			<p><span class="fa fa-vimeo-square"></span>Vimeo</p>
		</div>
	</li>
	<li id="vine">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 vine-bg">
			<p><span class="fa fa-vine"></span>Vine</p>
		</div>
	</li>
	<li id="xing">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 xing-bg">
			<p><span class="fa fa-xing"></span>Xing</p>
		</div>
	</li>
	<li id="yelp">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 yelp-bg">
			<p><span class="fa fa-yelp"></span>Yelp</p>
		</div>
	</li>
	<li id="youtube">
		<div class="col-sm-3 col-xs-5">
			<input type="checkbox" name="my-checkbox" value="">
		</div>
		<div class="col-sm-8 col-xs-7 youtube-bg">
			<p><span class="fa fa-youtube"></span>YouTube</p>
		</div>
	</li>
</ul>