<ul class="socialList">
	<li id="facebook">
		<div class="col-sm-3 col-xs-5 buttonCont">
			<% if(user.fbId != null && user.fbActive){ %>
			<input class="socialToggleSwitch" type="checkbox" name="social_toggle" value="fb_on" checked>
			<% }else{ %>
			<input class="socialToggleSwitch" type="checkbox" name="social_toggle" value="fb_off">
			<% } %>
		</div>
		<div class="col-sm-8 col-xs-7 facebook-bg">
			<p><span class="fa fa-facebook"></span>Facebook</p>
		</div>
	</li>
	<li id="google-plus">
		<div class="col-sm-3 col-xs-5 buttonCont">
			<% if(user.gId != null && user.twtActive){ %>
			<input class="socialToggleSwitch" type="checkbox" name="social_toggle" value="g_on" checked>
			<% }else{ %>
			<input class="socialToggleSwitch" type="checkbox" name="social_toggle" value="g_off">
			<% } %>
		</div>
		<div class="col-sm-8 col-xs-7 google-plus-bg">
			<p><span class="fa fa-google-plus"></span>Google+</p>
		</div>
	</li>
	<li id="twitter">
		<div class="col-sm-3 col-xs-5 buttonCont">
			<% if(user.twtId != null && user.twtActive){ %>
			<input class="socialToggleSwitch" type="checkbox" name="social_toggle" value="twt_on" checked>
			<% }else{ %>
			<input class="socialToggleSwitch" type="checkbox" name="social_toggle" value="twt_off">
			<% } %>
		</div>
		<div class="col-sm-8 col-xs-7 twitter-bg">
			<p><span class="fa fa-twitter"></span>Twitter</p>
		</div>
	</li>
</ul>