<div id="twitterModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4><i class="fa fa-twitter"></i> Twitter Login</h4>
			</div>
			<form class="form-horizontal" action="/auth/twitter" method="GET">
				<div class="modal-body">
					<div class="form-group">
						<label for="un" class="col-sm-3 control-label">User Name: </label>
						<div class="col-sm-9">
							<input type="text" name="un" class="form-control" id="un" placeholder="User Name">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->