<% layout('templates/layout') -%>

<main id="dash" class="dash">
	<section>
		<h1>Welcome, </h1>
	</section>
	<section class="cardHolder col-xs-12">
		<article>
			<p class="flag fa fa-facebook"></p>
			<img src="https://farm3.staticflickr.com/2901/14305146627_6456a6983a_z.jpg" alt="Cape Zampa Lighthouse">
			<h2>Cape Zampa Lighthouse</h2>
			<a href="">Profile Link</a>
			<p>Aliquam scelerisque maximus risus non eleifend. Sed tristique condimentum nunc, a blandit lectus vulputate a. Pellentesque in porttitor augue. Phasellus gravida feugiat ex, ac euismod lorem varius vitae. Cras ut ullamcorper leo. Morbi suscipit finibus risus, et dapibus leo. Nulla a lectus eu risus congue condimentum. Aliquam et efficitur tortor. Nulla ullamcorper ultricies pretium. Suspendisse potenti.</p>
		</article>
		<article class="col-md-4 col-sm-6 col-xs-12">
			<p class="flag fa fa-twitter"></p>
			<img src="" alt="">
			<h2>Title</h2>
			<a href="">Profile Link</a>
			<p>Aliquam scelerisque maximus risus non eleifend. Sed tristique condimentum nunc, a blandit lectus vulputate a. Pellentesque in porttitor augue. Phasellus gravida feugiat ex, ac euismod lorem varius vitae. Cras ut ullamcorper leo. Morbi suscipit finibus risus, et dapibus leo. Nulla a lectus eu risus congue condimentum. Aliquam et efficitur tortor. Nulla ullamcorper ultricies pretium. Suspendisse potenti.</p>
		</article>
		<article class="col-md-4 col-sm-6 col-xs-12">
			<p class="flag fa fa-google-plus"></p>
			<img src="" alt="">
			<h2>Title</h2>
			<a href="">Profile Link</a>
			<p>Aliquam scelerisque maximus risus non eleifend. Sed tristique condimentum nunc, a blandit lectus vulputate a. Pellentesque in porttitor augue. Phasellus gravida feugiat ex, ac euismod lorem varius vitae. Cras ut ullamcorper leo. Morbi suscipit finibus risus, et dapibus leo. Nulla a lectus eu risus congue condimentum. Aliquam et efficitur tortor. Nulla ullamcorper ultricies pretium. Suspendisse potenti.</p>
		</article>
	</section>
</main>