<% layout('templates/layout') -%>

<main id="landing" class="landing">
	<section class="cta row">
		<div class="col-sm-6 cta-left">
			<p><i class="fa fa-plug"></i>Connect to 3 social networks</p>
			<p><i class="fa fa-tachometer"></i>Gauge your interaction</p>
			<p><i class="fa fa-line-chart"></i>Gather stats on your accounts</p>
			<p><i class="fa fa-cogs"></i>Moderate all your accounts in one place</p>
		</div>
		<div class="col-sm-6 cta-right">
			<ul class="passport-buttons col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<li>
					<a href="/auth/facebook" class="col-xs-10 col-xs-offset-1 btn btn-social btn-lg btn-facebook">
						<i class="fa fa-facebook"></i> Login with Facebook
					</a>
				</li>
				<li>
					<a href="/auth/twitter" class="col-xs-10 col-xs-offset-1 btn btn-social btn-lg btn-twitter">
						<i class="fa fa-twitter"></i> Login with Twitter
					</a>
				</li>
				<li>
					<a href="/auth/google" class="col-xs-10 col-xs-offset-1 btn btn-social btn-lg btn-google-plus">
						<i class="fa fa-google-plus"></i> Login with Google+
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="nxt col-xs-12">
		<article class="col-sm-10 col-sm-offset-1 col-xs-12">
			<h1 class="text-center">Social network management for anyone</h1>
			<h3 class="text-center">Manage social networks, schedule messages, engage your audiences, and measure interaction right from the dashboard.</h3>
		</article>
		<article class="col-sm-8 col-sm-offset-2">
			<table>
				<thead>
					<th class="col-xs-6">Pro</th>
					<th class="col-xs-6">Enterprise</th>
				</thead>
				<body>
					<tr class="text-center">
						<td>
							<p class="description col-xs-10 col-xs-offset-1">Description about this plan and what it can offer the user.<p>
						</td>
						<td>
							<p class="description col-xs-10 col-xs-offset-1">Description about this plan and what it can offer the user.</p>
						</td>
					</tr>
					<tr class="text-center">
						<td>
							<ul>
								<li class="feature col-xs-10 col-xs-offset-1">Customizable Dashboard</li>
								<li class="feature col-xs-10 col-xs-offset-1">In-Depth Analytics</li>
								<li class="feature col-xs-10 col-xs-offset-1">feature 3</li>
								<li class="feature col-xs-10 col-xs-offset-1">feature 4</li>
							</ul>
						</td>
						<td>
							<ul>
								<li class="feature col-xs-10 col-xs-offset-1">Customizable Dashboard</li>
								<li class="feature col-xs-10 col-xs-offset-1">Advanced Analytics</li>
								<li class="feature col-xs-10 col-xs-offset-1">feature 3</li>
								<li class="feature col-xs-10 col-xs-offset-1">feature 4</li>
								<li class="feature col-xs-10 col-xs-offset-1">feature 5</li>
								<li class="feature col-xs-10 col-xs-offset-1">feature 6</li>
							</ul>
						</td>
					</tr>
					<tr class="buttons">
						<td>
							<a href="/pricing" class="btn btn-success col-xs-10 col-xs-offset-1">Learn More &gt;</a>
						</td>
						<td>
							<a href="/pricing" class="btn btn-success col-xs-10 col-xs-offset-1">Learn More &gt;</a>
						</td>
					</tr>
				</tbody>
			</table>
		</article>
	</section>
	<section class="mediaList col-xs-12 text-center">
		<h1>Connect to <em>your</em> networks</h1>
		<ul class="col-sm-8 col-sm-offset-2">
			<li class="col-xs-4 text-center"><p class="icon-facebook-sign icon-4x"></li>
			<li class="col-xs-4 text-center"><p class="icon-twitter-sign icon-4x"></li>
			<li class="col-xs-4 text-center"><p class="icon-google-plus-sign icon-4x"></li>
		</ul>
	</section>
	<section class="hiw col-xs-12">
		<h1 class="text-center">How it works</h1>
		<ul class="col-sm-6 col-sm-offset-3">
			<li class="active col-sm-3"><a class="fa fa-plug"></a></li>
			<li class="col-sm-3"><a class="fa fa-cogs"></a></li>
			<li class="col-sm-3"><a class="fa fa-line-chart"></a></li>
			<li class="col-sm-3"><a class="fa fa-pencil"></a></li>
		</ul>
		<section>
			<article class="col-xs-3">
				<h2>Connect to 3 social networks</h2>
				<p>Pull user generated and branded content into one place from 3 social networks.</p>
			</article>
			<article class="col-xs-3">
				<h2>Moderate all your accounts in one place</h2>
				<p>Stay up to date with what matters to you</p>
			</article>
			<article class="col-xs-3">
				<h2>Analyze your interaction</h2>
				<p>Measure success and focus your efforts</p>
			</article>
			<article class="col-xs-3">
				<h2>Personalize your experience</h2>
				<p>Easy to use customization for your hub</p>
			</article>
		</section>
	</section>
</main>