<% layout('templates/layout') -%>

<main id="login" class="login">
	<section class="col-xs-12">
		<article>
			<h1>Login</h1>
		</article>
		<article class="loginBox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
			<h2 class="text-center">Welcome Back to Social Pyle</h2>
			<ul class="passport-buttons">
				<li>
					<a href="/auth/facebook" class="col-xs-10 col-xs-offset-1 btn btn-social btn-lg btn-facebook">
						<i class="fa fa-facebook"></i> Login with Facebook
					</a>
				</li>
				<li>
					<a href="/auth/twitter" class="col-xs-10 col-xs-offset-1 btn btn-social btn-lg btn-twitter">
						<i class="fa fa-twitter"></i> Login with Twitter
					</a>
				</li>
				<li>
					<a href="/auth/google" class="col-xs-10 col-xs-offset-1 btn btn-social btn-lg btn-google-plus">
						<i class="fa fa-google-plus"></i> Login with Google+
					</a>
				</li>
			</ul>
		</article>
	</section>
</main>