<% layout('templates/layout') -%>

<main id="pricing" class="pricing">
	<section class="col-xs-12">
		<h1>Welcome to Social Pyle</h1>
	</section>
	<section class="pricingTable col-xs-10 col-xs-offset-1">
		<table>
			<thead>
				<th class="col-xs-4">Free</th>
				<th class="col-xs-4">Pro</th>
				<th class="col-xs-4">Enterprise</th>
			</thead>
			<body>
				<tr class="text-center">
					<td>
						<p class="description col-xs-10 col-xs-offset-1">Description about this plan and what it can offer the user.<p>
					</td>
					<td>
						<p class="description col-xs-10 col-xs-offset-1">Description about this plan and what it can offer the user.<p>
					</td>
					<td>
						<p class="description col-xs-10 col-xs-offset-1">Description about this plan and what it can offer the user.</p>
					</td>
				</tr>
				<tr class="text-center">
					<td>
						<ul>
							<li class="feature col-xs-10 col-xs-offset-1">feature 1</li>
							<li class="feature col-xs-10 col-xs-offset-1">feature 2</li>
						</ul>
					</td>
					<td>
						<ul>
							<li class="feature col-xs-10 col-xs-offset-1">feature 1</li>
							<li class="feature col-xs-10 col-xs-offset-1">feature 2</li>
							<li class="feature col-xs-10 col-xs-offset-1">feature 3</li>
							<li class="feature col-xs-10 col-xs-offset-1">feature 4</li>
						</ul>
					</td>
					<td>
						<ul>
							<li class="feature col-xs-10 col-xs-offset-1">feature 1</li>
							<li class="feature col-xs-10 col-xs-offset-1">feature 2</li>
							<li class="feature col-xs-10 col-xs-offset-1">feature 3</li>
							<li class="feature col-xs-10 col-xs-offset-1">feature 4</li>
							<li class="feature col-xs-10 col-xs-offset-1">feature 5</li>
							<li class="feature col-xs-10 col-xs-offset-1">feature 6</li>
						</ul>
					</td>
				</tr>
				<tr class="cost text-center">
					<td>
						<div class="monthly">
							<h3>Free</h3>
							<p>/month</p>
						</div>
					</td>
					<td>
						<div class="monthly">
							<h3>&#36;49.99</h3>
							<p>/month</p>
						</div>
						<div class="annually">
							<h3>&#36;549.99</h3>
							<p>/year</p>
							<p class="save">Save $50/year</p>
						</div>
						<button class="cost-toggle btn btn-default col-sm-6 col-sm-offset-3" type="button">View Annual</button>
					</td>
					<td>
						<div class="monthly">
							<h3>&#36;99.99</h3>
							<p>/month</p>
						</div>
						<div class="annually">
							<h3>&#36;1099.99</h3>
							<p>/year</p>
							<p class="save">Save $100/year</p>
						</div>
						<button class="cost-toggle btn btn-default col-sm-6 col-sm-offset-3" type="button">View Annual</button>
					</td>
				</tr>
				<tr class="buttons">
					<td>
						<a class="btn btn-success col-xs-10 col-xs-offset-1">Learn More &gt;</a>
					</td>
					<td>
						<a class="btn btn-success col-xs-10 col-xs-offset-1">Learn More &gt;</a>
					</td>
					<td>
						<a class="btn btn-success col-xs-10 col-xs-offset-1">Learn More &gt;</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</main>